<div class="navbar">
  <div class="navbar__container">
    <div class="navbar__container__brand">
      <a
        class="navbar__container__brand__image"
        href="https://www.uts.edu.co/sitio/"
        target="_blank"
      >
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/4/41/Unidades_Tecnol%C3%B3gicas_de_Santander_%28UTS%29_logo.png"
          alt="uts-image"
        />
      </a>
      <div class="navbar__container__brand__texts">
        <div class="navbar__container__brand__texts__topic">
          Content Management System
        </div>
        <div class="navbar__container__brand__texts__name">
          Sebastian Delgado Gomez
        </div>
      </div>
    </div>
    <ul class="navbar__container__menu">
      <li class="navbar__container__menu__item">
        <a routerLinkActive="active-route" routerLink="cms">CMS</a>
      </li>
      <li class="navbar__container__menu__item">
        <a routerLinkActive="active-route" routerLink="beneficios-ventajas"
          >Beneficios y ventajas</a
        >
      </li>
      <li class="navbar__container__menu__item">
        <a routerLinkActive="active-route" routerLink="cms-populares"
          >CMS más populares</a
        >
      </li>
    </ul>
  </div>
</div>
