<div class="footer-container">
  <div class="footer-container__image">
    <a href="https://www.uts.edu.co/sitio/" target="_blank">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/4/41/Unidades_Tecnol%C3%B3gicas_de_Santander_%28UTS%29_logo.png"
        alt="uts-image"
      />
    </a>
  </div>
  <div class="footer-container__form">
    <div class="mb-2">Recibe noticias</div>
    <div class="input-group">
      <button
        type="button"
        class="btn btn-light"
        [disabled]="email.invalid"
        (click)="onSubscribe()"
      >
        Suscribirse
      </button>
      <input
        type="email"
        class="form-control btn-light"
        placeholder="Correo electrónico"
        aria-label="correo"
        aria-describedby="correo"
        [formControl]="email"
      />
    </div>
    <small *ngIf="!(email.invalid && email.touched)" class="pt-2">&nbsp;</small>
    <small
      *ngIf="email.invalid && email.touched"
      class="pt-2 text-danger text-end"
      >Debe ingresar un correo válido</small
    >
  </div>
  <div class="footer-container__contact" #contactRef>
    <div>Contácto</div>
    <div>Sebastian Delgado Gomez</div>
    <div>
      <a href="mailto:sebastiandelgado@uts.edu.co"
        >sebastiandelgado@uts.edu.co</a
      >
    </div>
    <hr />
    <div class="footer-container__contact__social-media">
      <span>
        <a href="https://www.facebook.com" target="_blank"
          ><i class="fa-brands fa-facebook"></i
        ></a>
      </span>
      <span>
        <a href="https://www.instagram.com/sistemdomination/" target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </span>
    </div>
  </div>
</div>
