<div class="footer-container">
  <div class="footer-container__image">
    <a href="https://www.uts.edu.co/sitio/" target="_blank">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/4/41/Unidades_Tecnol%C3%B3gicas_de_Santander_%28UTS%29_logo.png"
        alt="uts-image"
      />
    </a>
  </div>
  <div class="footer-container__form">
    <div class="mb-2">Recibe noticias</div>
    <div class="input-group mb-3">
      <button type="button" class="btn btn-light">Suscribirse</button>
      <input
        type="email"
        class="form-control btn-light"
        placeholder="Correo electrónico"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    </div>
  </div>
  <div class="footer-container__contact">
    <div>Contácto</div>
    <div>Sebastian Delgado Gomez</div>
    <div>
      <a href="mailto:sebastiandelgado@uts.edu.co"
        >sebastiandelgado@uts.edu.co</a
      >
    </div>
    <hr />
    <div class="footer-container__contact__social-media">
      <span> <i class="fa-brands fa-facebook"></i> </span>
      <span> <i class="fa-brands fa-instagram"></i> </span>
    </div>
  </div>
</div>
