/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  background-color: #242424;
  color: #bcbdc1;
  height: 100%;
  min-width: 1200px;
}

a {
  text-decoration: none;
  color: inherit;
}

.active-route {
  background-color: #3c3c3c;
  transition: color 0.15s ease;
  color: #e0f366 !important;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  box-shadow: 0 0 0 0.25rem rgb(249 250 251 / 25%);
  border: 0;
  outline: 0 none;
}

a {
  color: #bcbdc1;
}
